<div class="col-md-4">
    <div class="productItem">
        <a href="/detail?SPU={{SPU}}"><img src="{{picUrl}}"></a>
        <p>{{name}}</p>
        <p>{{Color}}</p>
        <p>${{price}}</p>
    </div>
</div>