{{#section 'csslink'}}
<link href="/css/detail.css" rel="stylesheet">
<link href="/css/bootstrap-select.min.css" rel="stylesheet">{{/section}}
<div class="contain-fluid">
    {{#each product}}
    <div class="div-width-95 big-pic">
        <img src="{{picUrl}}">
    </div>
    <div class="product-header div-width-80">

        <h3 id="productName">{{name}}</h3>
        <h4>{{Color}}</h4>
        <span>${{price}}</span>
    </div>
    <input type="hidden" id="picUrl" value="{{picUrl}}" />
    <input type="hidden" id="category" value="{{category}}" />
    <input type="hidden" id="spu" value="{{SPU}}" />
    <input type="hidden" id="color" value="{{Color}}" />
    <input type="hidden" id="price" value="{{price}}" />{{/each}}
    <div class="div-width-80 opertaions">
        <div class="size">
            <label>Size:</label>
            <select id="sizeSelcted" class="form-control">
                {{#each productDetails}}
                <option value="{{SKU}}" data="{{price}}">{{size}}</option>
                {{/each}}
            </select>
        </div>
        <div class="qty">
            <label>Quantity:</label>
            <label id="minusQty" class="btn">
            <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
        </label>
            <label id="qty">1</label>
            <label id="plusQty" class="btn">
            <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
        </label>
        </div>
        <div id="addtoCart">
            <button id="addtoCartBut" class="btn btn-danger">Add to Cart</button>
        </div>
    </div>
</div>
{{#section 'javascript'}}
<script src="/js/detail.js"></script>
{{/section}}
