{{#each items}}
<div id="minisCart_item_{{sku}}" class="div-width-95 bottom-color-gray">
    <a href="/detail?SPU={{SPU}}"><img class="item-img" src="{{picurl}}" /></a>
    <ul class="proudctText">
        <li>{{name}}</li>
        <li>{{color}}/{{size}}</li>
        <li>$ {{price}}</li>
    </ul>
    <div class="productQty">
        <a class="btn" id="minus_{{sku}}" herf="javascript:vodi(0);" onclick="miniCartMinusQty('{{sku}}')">
            <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
        </a>
        <label class="miniCartQty" id="qty_{{sku}}">{{qty}}</label>
        <a class="btn" id="plus_{{sku}}" herf="javascript:vodi(0);" onclick="miniCartPlusQty('{{sku}}')">
            <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
        </a>
        <a class="deleItem" herf="javascript:vodi(0);" onclick="miniCartDeleItem('{{sku}}')">
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
        </a>
    </div>
    <input type="hidden" value="{{sku}}">
</div>
{{/each}}
